.custom-carousel-img {
  width: 100vw;        
  height: 400px;       
  object-fit: cover;    
  display: block;
  margin: 0 auto;
}


.carousel,
.carousel-inner {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
}


.carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
