.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #000000 !important;           
  width: 100;
  box-sizing: border-box;
  min-height: 50px;
  position: relative;
  z-index: 40;
}

.navbar-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
}


.nav-link, .logout-button {
  color: #fff !important;
  font-weight: bold;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0 10px;
  transition: color .15s;
}

.nav-link:hover, .logout-button:hover {
  text-decoration: underline;
  color: #c4c7c9;

}

.navbar-greeting {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;
}
